h1 {
  text-align: center;
}

#inputForm,
#displayArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="checkbox"],
button {
  margin: 5px;
}
